@media only screen and (min-width: 481px) and (max-width: 2048px) and (max-height: 990px){
    
    .dashboard-section{
      width: 100%;
      height: auto;
      background-color: rgb(245, 245, 245);
  }
  .vertical-dashboard{
      height: 10vh;
      width: 2px;
      background-color: orange ;
      position: absolute;
      float: left;
      margin-top: 2%;
      margin-left: 5%;
  
  }
  .dashboard-section h1{
    float: left;
      padding-top: 2%;
      margin-left: 6%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 200%;
      color: rgb(1, 1, 90);
      font-weight: bolder;
      margin-bottom: 3%;
  
    }
    .dashboard-section h1 span{
      color: orange;
    }
    .d-profile{
      float: right;
      box-shadow: 10px 10px 15px 15px rgb(147, 147, 241);
      width: auto;
      height: 8vh;
      margin-top: 1%;
      margin-right: 5%;
      border-radius: 10px;
    }
    .dashboard-container{
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      height: auto; 
      margin: 3% auto;
      background-color: rgb(245, 243, 243);
      box-shadow: 10px 10px 20px 20px rgb(198, 198, 252);
  
  }
  .dashboard{
      height: auto;
      width: 30%;
      margin: 2% auto;
      border-radius: 10px;
      transition: transform 0.3s, background-color 0.3s;
      cursor: pointer;  
      background-color: whitesmoke; 
      color: black; 
      box-shadow: 8px 8px 10px 10px rgba(161, 197, 245, 0.7);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  
  
  }
  .dashboard:hover {
      background: linear-gradient( to right, rgb(1, 1, 90), #e7a33c);
      transform: translatey(-20px);
      color: white;
    
    }
   
    .dashboard h3{
      margin-top: 10vh;
      text-align: center;
      font-size: 100%;
    }
    .dashboard p{
      margin: 10px 10px 20px;
      font-size: 100%;
      font-weight: 500;
    }
    .dt{
       width: 98%;
       height: 100%;
       margin: 0 auto;
       border-radius: 10px;
       margin-left: 4px;
    }
   
  }
  